<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Project</title>
    <style>
      body {
        margin: 5%;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      .active {
        background-color: salmon;
        border: 1px solid salmon;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <header-component></header-component>
      <course />
      <footer-component></footer-component>
    </div>
    <!-- Import Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
      // Vue.Component sebelum instant object Vue
      Vue.component("header-component", {
        template: `
            <header>
                <img src="images/logo.png" alt="vue logo" width="125" />
                <p>The Progressive JavaScript framework</p>
                <p v-text="msg"></p>
            </header>`,
        data: function () {
          return {
            msg: "Hello Vue Component",
          };
        },
      });
      Vue.component("footer-component", {
        template: `
            <footer>
                <p>Copyright &copy; 2021</p>
            </footer>`,
      });
      Vue.component("course", {
        template: `
          <main>
            <h3>Add Course</h3>
            <p>
                <input
                    type="text"
                    placeholder="Course Name"
                    v-on:keyup.enter="submit"
                    v-model="newCourse"
                />
            </p>
            <hr />
            <h3>Course Lists</h3>
            <template v-if="course.length">
                <ul>
                    <li v-for="(data, index) in course">{{index+1}} - {{data}}</li>
                </ul>
            </template>
            <li v-else>Course is not available yet 😪</li>
        </main>
          `,
        data: function () {
          return {
            newCourse: "",
            course: [],
          };
        },
        methods: {
          submit(event) {
            let text = event.target.value;
            this.course.unshift(this.newCourse);
            this.newCourse = "";
          },
        },
      });
      const vm = new Vue({
        el: "#app",
        data: {},
        computed: {},
      });
    </script>
  </body>
</html>
