<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Project</title>
    <style>
      body {
        margin: 5%;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      .active {
        background-color: salmon;
        border: 1px solid salmon;
        padding: 5px;
      }
      .input-group {
        margin-bottom: 5px;
      }
      .error {
        color: red;
      }
      ul > li {
        list-style-type: none;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <header-component
        title="Welcome to Vue JS"
        image="images/vue-js.png"
      ></header-component>

      <nav>
        <router-link to="/">Home</router-link>
        <router-link to="/course">Course</router-link>
        <router-link to="/about">About</router-link>
      </nav>

      <main>
        <router-view
          v-bind:items="course"
          v-on:submit-course="newCourse"
          v-on:delete="deleteCourse"
        ></router-view>
      </main>
      <!-- <home></home> -->
      <!-- <course
        v-bind:items="course"
        v-on:submit="newCourse"
        v-on:delete="deleteCourse"
      ></course> -->
      <footer-component>
        <p>Copyright &copy; 2021</p>
      </footer-component>
    </div>
    <!-- Import Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.0.0/firebase-app.js";
      import {
        getDatabase,
        ref,
        onValue,
      } from "https://www.gstatic.com/firebasejs/9.0.0/firebase-database.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries

      // Your web app's Firebase configuration
      const firebaseConfig = {
        apiKey: "AIzaSyBvZwjFJ0TvfGipdGu_FrzGLUC-FXP_YG8",
        authDomain: "tutorial-vuejs-60e1f.firebaseapp.com",
        projectId: "tutorial-vuejs-60e1f",
        storageBucket: "tutorial-vuejs-60e1f.appspot.com",
        messagingSenderId: "116183018002",
        appId: "1:116183018002:web:231e518bd358aefbd586cb",
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const db = getDatabase();
      const courseRef = ref(db, "course");
    </script>

    <script>
      // Local registration component
      const Home = {
        template: `
          <div>
            <h2>Home from local registered component</h2>
          </div>`,
      };

      const About = {
        template: `
          <div>
            <h2>About</h2>
          </div>`,
      };

      const Course = {
        props: ["items"],
        template: `
          <main>
            <h3>Add Course</h3>

            <form v-on:submit.prevent="newCourse">
              <div class="input-group">
                  <label>Course name</label>
                  <input
                      type="text"
                      placeholder="Course Name"
                      v-model="course.title"
                  />
                  <div class="error" v-if="error.title"><small>{{error.title}}</small></div>
              </div>
              <div class="input-group">
                <label>Description</label>
                <textarea v-model="course.description"></textarea>
                <div class="error" v-if="error.description"><small>{{error.description}}</small></div>
              </div>
              <div class="input-group">
                <p><img :src="previewImg" v-if="previewImg" width="200"/></p>
                <label>Insert an image</label>
                <input type="file" ref="uploadImg" v-on:change="upload"/>
              </div>
              <button type="submit">Submit</button>
            </form>

            <hr />
            <h3>Course Lists {{items.length}}</h3>
            <template v-if="items.length">
                <ul>
                    <li v-for="(data, index) in items">
                      <img :src="image_url(data.image)" width="200"/>
                      <p>
                        {{index+1}} - {{data.title}}
                        <a href="" v-on:click.prevent="$emit('delete', data.id)">Delete</a>
                        <router-link :to="'/course/' +data.id">See detail</router-link>
                      </p>
                    </li>
                </ul>
            </template>
            <li v-else>Course is not available yet 😪</li>
        </main>
          `,
        data: function () {
          return {
            course: { title: "", description: "", image: "" },
            previewImg: "",
            error: {
              title: "",
              description: "",
            },
          };
        },
        methods: {
          newCourse: function () {
            this.error.title = "";
            this.error.description = "";
            if (this.course.title === "") {
              this.error.title = "Course name is required";
            }

            if (this.course.description === "") {
              this.error.description = "Course description is required";
            }

            if (this.course.title && this.course.description) {
              const data = {
                id: uuidv4(),
                title: this.course.title,
                description: this.course.description,
                image: this.course.image,
              };

              this.$emit("submit-course", data);
              this.course.title = "";
              this.course.description = "";
              this.course.image = "";
              this.previewImg = "";
              this.$refs.uploadImg.value = "";
            }
          },
          upload: function (event) {
            const imageName = event.target.files[0].name;
            this.course.image = imageName;
            this.previewImg = URL.createObjectURL(event.target.files[0]);
          },
          image_url: function (image) {
            return "../images/" + image;
          },
        },
      };

      const NotFound = {
        template: `
          <div>
            <h2>404: Page not found</h2>
          </div>`,
      };

      const courseDetail = {
        template: `<div>
            <img :src="image_url(course.image)" width="200"/>
            <h3>{{course.title}}</h3>
            <p>{{course.description}}</p>
            <router-link to="/course">Back</router-link>
          </div>`,
        data() {
          return {
            course: {},
          };
        },
        created() {
          this.filterCourse();
        },
        methods: {
          filterCourse() {
            let course = JSON.parse(localStorage.getItem("course"));
            let id = this.$route.params.id;
            let item = course.filter((c) => c.id == id);
            this.course = item[0];
          },
          image_url: function (image) {
            return "../images/" + image;
          },
        },
      };
      // Vue.component sebelum instant object Vue
      // Vue.component untuk registrasi component global
      Vue.component("header-component", {
        props: ["title", "image"],
        template: `
            <header>
                <img :src="image" alt="vue logo" width="175" />
                <h1>{{title}}</h1>
                <p v-text="msg"></p>
            </header>`,
        data: function () {
          return {
            msg: "Hello this is global Component",
          };
        },
      });
      Vue.component("footer-component", {
        template: `
          <footer>
            <slot></slot>
          </footer>`,
      });
      Vue.component("course", {});

      const routes = [
        { path: "/", component: Home },
        { path: "/about", component: About },
        { path: "/course", component: Course },
        {
          path: "/course/:id",
          component: courseDetail,
        },
        { path: "*", component: NotFound },
      ];

      const router = new VueRouter({ mode: "history", routes });

      const vm = new Vue({
        el: "#app",
        router,
        components: {
          home: Home,
        },
        data: {
          course: [],
        },
        created() {
          // this.course = JSON.parse(localStorage.getItem("course")) || [];
          courseRef.on("value", this.resultData, this.errorData);
          console.log("created");
        },
        beforeCreate() {
          console.log("before create");
        },
        mounted() {
          console.log("mounted");
        },
        beforeUpdate() {
          console.log("before update");
        },
        updated() {
          console.log("updated");
        },
        computed: {},
        methods: {
          resultData(items) {
            console.log(items.val());
          },
          errorData(error) {
            console.log(error);
          },
          deleteCourse(id) {
            this.course = this.course.filter((item) => item.id != id);
            localStorage.setItem("course", JSON.stringify(this.course));
            swal({
              text: "Course deleted",
              icon: "warning",
            });
          },
          newCourse(data) {
            this.course.push(data);
            localStorage.setItem("course", JSON.stringify(this.course));

            swal({
              title: data.title,
              text: "Course saved",
              icon: "success",
            });
          },
        },
      });
    </script>
  </body>
</html>
