<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Project</title>
    <style>
      body {
        margin: 5%;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      .active {
        background-color: salmon;
        border: 1px solid salmon;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <header-component
        title="Welcome to Vue JS"
        image="images/vue-js.png"
      ></header-component>

      <nav>
        <router-link to="/">Home</router-link>
        <router-link to="/course">Course</router-link>
        <router-link to="/about">About</router-link>
      </nav>

      <main>
        <router-view
          v-bind:items="course"
          v-on:submit-course="newCourse"
          v-on:delete="deleteCourse"
        ></router-view>
      </main>
      <!-- <home></home> -->
      <!-- <course
        v-bind:items="course"
        v-on:submit="newCourse"
        v-on:delete="deleteCourse"
      ></course> -->
      <footer-component>
        <p>Copyright &copy; 2021</p>
      </footer-component>
    </div>
    <!-- Import Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>

    <script>
      // Local registration component
      const Home = {
        template: `
          <div>
            <h2>Home from local registered component</h2>
          </div>`,
      };

      const About = {
        template: `
          <div>
            <h2>About</h2>
          </div>`,
      };

      const Course = {
        props: ["items"],
        template: `
          <main>
            <h3>Add Course</h3>

            <form v-on:submit.prevent="newCourse">
              <p>
                  <input
                      type="text"
                      placeholder="Course Name"
                      v-model="course.title"
                  />
              </p>
              <div class="input-group">
                <label>Description</label>
                <textarea v-model="course.description"></textarea>
              </div>
              <div class="input-group">
                <label>Insert an image</label>
                <input type="file"/>
              </div>
              <button type="submit">Submit</button>
            </form>

            <hr />
            <h3>Course Lists {{items.length}}</h3>
            <template v-if="items.length">
                <ul>
                    <li v-for="(data, index) in items">{{index+1}} - {{data.title}}
                      <a href="" v-on:click.prevent="$emit('delete', data.id)">Delete</a>
                    </li>
                </ul>
            </template>
            <li v-else>Course is not available yet 😪</li>
        </main>
          `,
        data: function () {
          return {
            course: { title: "", description: "", image: "" },
          };
        },
        methods: {
          newCourse: function () {
            const data = {
              id: uuidv4(),
              title: this.course.title,
              description: this.course.description,
              image: null,
            };

            this.$emit("submit-course", data);
            this.course.title = "";
            this.course.description = "";
          },
        },
      };
      // Vue.component sebelum instant object Vue
      // Vue.component untuk registrasi component global
      Vue.component("header-component", {
        props: ["title", "image"],
        template: `
            <header>
                <img :src="image" alt="vue logo" width="175" />
                <h1>{{title}}</h1>
                <p v-text="msg"></p>
            </header>`,
        data: function () {
          return {
            msg: "Hello this is global Component",
          };
        },
      });
      Vue.component("footer-component", {
        template: `
          <footer>
            <slot></slot>
          </footer>`,
      });
      Vue.component("course", {});

      const routes = [
        { path: "/", component: Home },
        { path: "/about", component: About },
        { path: "/course", component: Course },
      ];

      const router = new VueRouter({ mode: "history", routes });

      const vm = new Vue({
        el: "#app",
        router,
        components: {
          home: Home,
        },
        data: {
          course: [
            {
              id: "1",
              title: "Vue JS",
              description: "The progressive JavaScript framework",
              image: "vue-js.png",
            },
            {
              id: "2",
              title: "React JS",
              description: "A JavaScript library for building user interfaces",
              image: "react-js.png",
            },
          ],
        },
        computed: {},
        methods: {
          deleteCourse(id) {
            this.course = this.course.filter((item) => item.id != id);
          },
          newCourse(data) {
            this.course.push(data);
          },
        },
      });
    </script>
  </body>
</html>
