.App {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.Search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Search-bar {
  border: none;
  padding: 10px;
  width: 50%;
}

.Search-btn {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}

.Recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
