.Recipe {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(71, 71, 71);
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  flex-direction: column;
}
