* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
  padding: 25px;
}

.App {
  background-image: url(assets/cold-bg.jpg);
  background-size: cover;
  background-position: bottom;
  transition: 0.5s ease-in-out;
}

.App.Warm {
  background-image: url(assets/warm-bg.jpg);
  transition: 0.5s ease-in-out;
}

.Search-box {
  width: 100%;
  margin: 0 0 75px;
}

.Search-box .Search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 16px 16px;
  margin-top: -25px;
  box-shadow: 0 4px rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}

.Search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.Location-box .Location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.Location-box .Date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.Weather-box {
  text-align: center;
}

.Weather-box .Temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: #fff;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.2);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.Weather-box .Weather {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

@media only screen and (min-width: 1280px) {
  .App {
    background-image: url(assets/cold-bg-big.jpg);
    transition: 0.5s ease-in-out;
  }
  .App.Warm {
    background-image: url(assets/warm-bg-big.jpg);
    transition: 0.5s ease-in-out;
  }
}
