.blog-item {
  width: calc(50% - 10px);
  border-radius: 8px;
  margin-bottom: 1rem;
  overflow: hidden;
  box-shadow: 5px 6px 14px rgba(0, 0, 0, 0.2);
  .image-thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .content-detail {
    padding: 16px;
    .title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .edit-wrapper {
        display: flex;
        align-items: center;
        .edit {
          color: #03a9f4;
          font-weight: bold;
          cursor: pointer;
          margin: 0 14px 0 0;
        }
        .delete {
          color: #e91e63;
          font-weight: bold;
          cursor: pointer;
          margin: 0 0 0 14px;
        }
      }
    }
    .title {
      margin: 0;
      font-size: 1.5em;
      font-weight: bold;
      color: #313131;
    }
    .author {
      margin: 4px 0 0 0;
      font-size: 1em;
      color: grey;
    }
    .body {
      margin: 18px 0 0 0;
      font-size: 1.15em;
      color: #353535;
    }
  }
}
